@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameConnect!</h1>
    <p>On This website you can expect to connect with other player similar to yourself to finally fill the final spots in your online games!</p>
    <p>The plan is to create a card type layout for the games page. If the user is logged in then it will redirect them to the posts page for that game specifically so they can either search or browse for other players posts. In said posts players will have their socials linked for how to contact them. Also opt in notfication settings may be considered. On the posts page users will be able to create their own post for the selected game. Images for games will be included. Aswell as links to socials being turnd into icons.</p>
</div>
